@font-face {
    font-family: "AldotheApache";
    src: url('../fonts/AldotheApache.ttf') format("truetype");
}
html,
body {
    color: #ffe33e;
    overflow: hidden;
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;              /* Older versions of FF */
    image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;                /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
    image-rendering: pixelated;                  /* Chrome 41 */
    font-family: 'AldotheApache', Arial;
    background: #7599bb;
}
#content {
    position: absolute;
    z-index: 0;
}

#ui {
    position: absolute;
    width: 1024px;
    height: 640px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;
}

.income {
    color: white;
    font-size: 25px;
    margin: 10px;
    position: absolute;
}

.income .title {
    font-size: 27px;
}
.income hr {
    margin-block-start: 0em;
    margin-block-end: 0.3em;
    border-width: 0.5px;
    margin-left: 44px;
    width: 99px;
}

.income .income-number {
    font-size: 19px;
    float: right;
}

.income .total-income-text {
    font-size: 19px;
    float: right;
}
.income .corp-text {
    display: inline-block;
    font-size: 15px;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

.corp-icon {
    background: url(../ui/mine_crop_logo.svg) no-repeat;
    width: 39px;
    height: 39px;
    display: inline-block;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #66ff00 transparent;
    zoom: 0.5;
    transform: translateY(-50%);
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.attackBar {
    position: absolute;
    right: 15px;
    pointer-events: all;
}

.attackBar .lock {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.attack@font-face {
    font-family: "AldotheApache";
    src: url('../fonts/AldotheApache.ttf') format("truetype");
}
html,
body {
    color: #ffe33e;
    overflow: hidden;
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;              /* Older versions of FF */
    image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;                /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
    image-rendering: pixelated;                  /* Chrome 41 */
    font-family: 'AldotheApache', Arial;
    background: #7599bb;
}
#content {
    position: absolute;
    z-index: 0;
}

#ui {
    position: absolute;
    width: 1024px;
    height: 640px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;
}

.income {
    color: white;
    font-size: 25px;
    margin: 10px;
    position: absolute;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #66ff00 transparent;
    zoom: 0.5;
    transform: translate(-34%, -20%);
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.attackBar {
    position: absolute;
    right: 15px;
    pointer-events: all;
}

.attackBar .lock {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.attackBar .button {
    cursor: pointer;
    display: block;
}
.attackBar .row {
    position: absolute;
    width: 114px;
}
.attackBar .row .left {
    float: left;
}
.attackBar .row .right {
    float: right;
}

.attackBar .row.lightning {
    top: 89px;
    right: 88px;
}
.attackBar .row.tornado {
    top: 211px;
    right: 45px;
}
.attackBar .row.volcano {
    top: 325px;
    right: 45px;
}
.attackBar .row.asteroid {
    top: 439px;
    right: 88px;
}
.button {
    cursor: pointer;
    display: block;
}

.key-manual {
    color: white;
    font-size: 19px;
    margin-top: 9px;
    margin-left: 5px;
}

.attackBar .progress {
    transform: rotate(180deg);
    width: 17px;
    height: 50px;
    background: #2f025c;
    border-radius: 5px;
    margin-top: 12px;
}

.attackBar .progress .progress-inner {
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff8429, #ffff67);
    border-radius: 5px;
}
