@font-face {
    font-family: "AldotheApache";
    src: url('../fonts/AldotheApache.ttf') format("truetype");
}
html,
body {
    color: #ffe33e;
    overflow: hidden;
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;              /* Older versions of FF */
    image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;                /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
    image-rendering: pixelated;                  /* Chrome 41 */
    font-family: 'AldotheApache', Arial;
    background: #7599bb;
}
#content {
    position: absolute;
    z-index: 0;
}

#ui {
    position: absolute;
    width: 1024px;
    height: 640px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;
}

.income {
    color: white;
    font-size: 25px;
    margin: 10px
    position: absolute;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #66ff00 transparent;
    zoom: 0.5;
    transform: translateY(-50%);
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.attackBar {
    position: absolute;
    right: 15px;
    pointer-events: all;
}

.attackBar .button {
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
}
